{
  "extends": ["airbnb", "eslint:recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": 1,
    "semi": 2,
    "quotes": ["error", "single"],
    "no-unexpected-multiline": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/prop-types": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-param-reassign": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prefer-stateless-function": 0,
    "comma-dangle": 1,
    "object-curly-spacing": 2,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-debugger": 1,
    "import/no-extraneous-dependencies": 0,
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "react/jsx-max-props-per-line": [2, { "maximum": 1 }],
    "max-len": ["error", { "code": 80 }]
  }
}
